<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <title>Debate Analysis</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <p>Hello {{user}}! Please insert your query:</p>

    <br />
    
      <form action="/results?%" method="post">
        Search Query:
      <input value="{{ query }}" name="search_query">
      <input type="submit" value="submit">
    </form>
  
  
   
  </body>
</html>
{% endautoescape %}

<!-- <form action="/results?query={{ query }}" method="post"> -->